*
!/.gitignore
!/weekly-reports
!/weekly-reports/**
!/architectures
!/architectures/**
!/specifications
!/specifications/**
!/templates
!/templates/**
!/plan
!/plan/**
!/schema
!/schema/**
!/tasks
!/tasks/**